body {
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    margin: 40px auto;
    background: rgb(124,154,167);
}

table.list {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead tr {
    background-color: #4b99d8;
    color: white;
}

form div {
    margin-bottom: 12px;
}

input[type="text"], input[type="number"] {
    width: 91%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #a5a1a1;
    border-radius: 4px;
}

input[type="submit"], input[type="reset"], button {
    background: #eee;
    padding: 6px 12px;
    margin: 5px 5px 5px 0;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
    background: #4b99d8;
    color: white;
}

#storeList button {
    padding: 4px 8px;
    margin: 2px;
    font-size: 0.9rem;
    border-radius: 5px;
}

#storeList button:hover {
    background-color: #4b99d8;
    color: white;
}
